node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Firebase SDK/firebase.ts
src/config/firebase.ts

# firebase emulators
.firebaserc
database-debug.log
firebase.json
firestore-debug.log
firebase-debug.log
ui-debug.log
